* {
  padding: 8px;
}
body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  margin: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  margin: auto;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px;
}

.aa {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}
.but {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}
